<% layout("/layouts/boilerplate.ejs"); %>
<script>
     let maptoken = "<%=process.env.MAP_TOKEN%>";
     const listing =JSON.stringify(value);
</script>
<body>
   <div class="row">
    <div class="col-6 offset-3">
        <div class="card">
   <b><%=value.title%></b>
            <img src="<%=value.image.url%>" class="card-img-top" alt="listing_image" style="height: 15rem; width: 25rem;">
            <div class="card-body">
               
              <p class="card-text">
               <b><i><%=value.owner.username%></i></b> 
                <br>
                <br/>
                <%=value.description%>
                <br>
                <br>
                &#8377; <%=value.price.toLocaleString("en-IN")%>/night
                <br>
                <br>
                <%=value.location%>
                <br>
                <br>
                <%=value.country%>
            </p>
            </div>
            <div class="card-body">
                <%if(currentUser && currentUser._id.equals(value.owner._id)){%>
                <form method = "get" action="/listings/edit/<%=value._id%>">
                    <button class = "btn btn-outline-primary">edit</button>
                </form>
                <form method = "post" action = "/listings/<%=value._id%>?_method=delete">
                    <button class = "btn btn-outline-danger">delete</button>
                </form>
                <%}%>
                <form method = "get" action="/listings">
                    <button class = "btn btn-outline-primary">back</button>
                </form>
            </div>
          </div>
    </div>
   </div>
<%if(currentUser){%>
<div class="col-8 offset-3">
<h4>Send Your Experience</h4>
<form method = "post" novalidate class = "needs-validation" action = "/listings/<%=value._id%>/reviews">
    <div class = "mb-3 mt-3">
      

    <fieldset class="starability-slot">
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
    <div class = "mb-3 mt-3">
        <label for = "comment" class = "form-label">Comment</label>
        <br>
        <textarea name = "review[comment]" id = "comment" rows = "5" cols = "10" class="form-control" required></textarea>
        <div class = "valid-feedback">Thanks For Response</div>
        <div class = "invalid-feedback">Please Explain Your Response</div>
    </div>
    <div>
        <button class = "btn btn-outline-dark">Submit</button>
    </div>
</form>
</div>
<hr>
<%}%>
<h4>All Reviews</h4>
<div class="row">
    <div class="col-md-6 col-lg-12 reviewcol">
        <%for(let review of value.reviews){%>
            <div class="card mt-3" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">@<%=review.author.username%></li>
                  <p class="starability-result" data-rating="<%=review.rating%>">
                </p>
                  <li class="list-group-item"><%=review.comment%></li>
                </ul>
                <form method = "post" action="/listings/<%=value._id%>/reviews/<%=review._id%>?_method=delete">
                    <button class = "btn btn-danger mt-2">
                        delete
                    </button>
                  </form>
              </div>
            
            <%}%>
    </div>  
    </div>
<br>
<br>
<div  class = "offset-3 mb-3 col-6">
    <h3>where you'll be</h3>
    <div id="map">
</div>
</div>
<script src = "/js/map.js"></script> 
</body>

